<CommonView class="p-rule">
  <CommonToolbar slot="top">
    <el-button @click="_Delete"><span class="icon i-delete"></span> 删除</el-button>
    <el-button @click="_Create"><span class="icon i-add"></span> 新建</el-button>
  </CommonToolbar>

  <el-table :data="rules" height="100%" stripe @selection-change="_Select">
    <el-table-column type="selection"></el-table-column>
    <el-table-column prop="domain" label="目标网站"></el-table-column>
    <el-table-column prop="createdAt" label="创建时间" width="180"></el-table-column>
    <el-table-column label="操作" width="90px" frozen>
      <el-button-group slot-scope="{row}">
        <el-button @click="_EditRule(row)"><span class="icon i-edit"></span></el-button>
      </el-button-group>
    </el-table-column>
  </el-table>

  <el-dialog :visible.sync="dlgCreateVisible" title="新建规则" width="70%" top="36px">
    <el-form ref="createForm"  :rules="formRules" :model="createFormData">
      <el-form-item label="域名" prop="domain">
        <el-input v-model="createFormData['domain']" placeholder="请输入规则目标域名（不含www）"/>
      </el-form-item>
      <el-form-item label="规则" prop="script">
        <div ref="editor" class="editor"></div>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button-group>
        <el-button type="primary" @click="_ConfirmCreate">确定</el-button>
      </el-button-group>
    </div>
  </el-dialog>

  <el-dialog :visible.sync="dlgEditVisible" title="编辑任务" width="70%" top="36px">
    <el-form ref="editForm"  :rules="formRules" :model="editFormData">
      <el-form-item label="域名" prop="domain">
        <el-input v-model="editFormData['domain']" placeholder="请输入任务要采集的网站域名（不含www）" disabled/>
      </el-form-item>
      <el-form-item label="规则" prop="script">
        <div ref="editor" class="editor"></div>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button-group>
        <el-button type="primary" @click="_ConfirmEdit">确定</el-button>
      </el-button-group>
    </div>
  </el-dialog>

  <CommonPage slot="bottom" v-model="page" @page="_Page"/>
</CommonView>