@import './define.styl'
@import './element.styl'

*{
  padding: 0;
  margin: 0;
}
body, html{
  height: 100%;
}
a{
  color: $text;
  text-decoration: none

  &:hover{
    color: $primary
  }
}

.icon{
  font-size: 14px;
}

.g-title{
  font-weight 500;
  color $primary;
}

.g-info{
  color: $text-light
}


